*{box-sizing: border-box;}

body{
    margin: 0;
    background-image: url("img/background.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Roboto', serif;
    font-size: 16px; /*default because most of the text is only larger few pixels (reference)*/
    text-transform: uppercase; /*Has the upper hand*/
    color: rgb(200, 196, 184); /*Mostly used*/
}

.wrapper{
    display: flex;
    justify-content: center;
}
/*CHANGES*/
.container{
    width: 35em;
    margin: 2em auto 0 auto;
    padding: 40px;
    background: #fff;
    border-radius: 4px;
}

.flight-to{position:relative; margin: 30px 0 5em 0;}
.from-to, .mark{display:inline-block;}

.mark{vertical-align: top; height: 75px; width: 43%;}
.mark span{
    display: block;
    width: 40px;
    height: 10px;
    background-color: rgb(211, 230, 244);
    margin: calc(75px / 2) auto 0 auto;
}

.from-to h2{
    font-family: 'Prompt', serif;
    font-weight: 900;
    margin: 0;
    font-size: 4rem;
    color: rgb(59, 138, 207);
    line-height: 3.5rem;
}

.flight-to .from-to:nth-child(3){float: right;}

.flight-details{width: 80%; margin: 20px 0;}
.flight-details h4{margin: 0;}

.detail{display: inline-block; width: 26.66%;}

.detail h4{font-size: 14px; font-weight: 400;}
.detail span{font-size: 18px; color: #000; font-weight: 500;}

.specifications{position: relative;} /*For QR element*/

.passenger-details .detail{display: block;}
.passenger-details .detail:nth-child(2){padding: calc(150px / 8) 0;} /*"equal" amount of spacing*/
.passenger-details h4{margin: 0;}
.passenger-details span{text-transform: none;}

.qr-code{position: absolute; right: 0; top: 0;}
.qr-code img{height: 150px;}