/*NO CHANGE*/
*{box-sizing: border-box;}

body{background: rgb(22, 160, 133); font-family: 'Roboto', serif;}

/*CHANGE*/
.container{
    max-width: 50em;
    background: #fff;
    border-radius: 3px;
    margin: 50px auto 0 auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 20px 1px rgb(25, 73, 75);
}

.text-container{
    padding: 50px;
}

.top{
    margin-bottom: 20px;
}

.title{position: relative;}
.title h2{display: inline-block; margin: 0 0 15px 0;}
.title img{
    position: absolute;
    right: 0;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px;
}

.top p{color: grey; margin: 0; font-size: 14px;}


.receipt{
    margin: 25px 0;
}

.item{
    color: rgb(96, 95, 94);
    text-transform: capitalize;
    font-size: 16px;
}
.charge{
    float: right;
    font-size: 18px;
    font-weight: 700;
}

#total .item{text-transform: uppercase; font-weight: 500;}

.cycle{
    height: 14em;
    position: relative;
    text-align: center;
}

.cycle img{
    max-width: 50em;
    margin-top: -10em;
}

/*SELECTORS*/
.title img:hover{
    box-shadow: 0 0 10px;
    cursor: pointer;
}